.service {
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
}

.service-content {
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

h1 {
    font-size: 50px;
}

.service-image {
    margin: auto;
}