.footer {
    background-color: var(--darkGreen);
    display: flex;
    flex-direction: row;
    height: 200px;
}

.footer-logo {
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.footer-font {
    margin: 20px;
}

.footer-ul{
    display: flex;
    justify-content: end;
}

.footer-li {
    color: white;
}