:root {
  --green: #A0F1BD;
  --darkGreen: #2E4F21;
}

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.global-container {
  max-width:100%;
  background-color: var(--green);
  margin: auto;
}